.bg-gradient {
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #2980b9, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #2980b9, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#body-content {
  flex: 1 0 auto;
}

.label-desc {
  font-weight: bold;
}

.page-footer {
  background: #2c3e50;
  padding-top: 0;
}

.social {
  color: black !important;
  font-size: small;
}

.team-article {
  margin-top: 1rem;
}

.team-img {
  width: 200px !important;
  margin: auto;
}

.team-content {
  margin-top: 2rem;
}

.team-label {
  font-size: 1.2rem;
  margin-top: 1em;
}

.team-list {
  display: block;
}
